QWidget {
  background-color: #161b26; /* Different color for other messages */
  border-radius: 15px; /* Rounded corners */
  padding: 10px; /* Padding inside the bubble */
  color: #787b82; /* Text color */
  /* max-width: 1000px; /1* Max width for message bubble *1/ */
}

QLabel {
  color: #787b82; /* Text color for the message */
}
